body {
  background-image: url("../img/cork-board.jpg");
}

.polaroid {
  width: 945px;
  height: 1024px;
  background-image: url("../img/polaroid.png");
  position: relative;
}

.boat {
  width: 650px;
  height: 650px;
  position: absolute;
  top: 120px;
  left: 140px;
}
